<h2>Browse Items</h2>

Grouped by <%=@group_by.titleize%>

<%- @groups.each do |group,items| -%>
  <div id="<%=group%>">
    <h3><%=group.titleize%></h3>
    <%= render :partial => 'items', :locals => {:items => items} %>
  </div>
<%- end -%>
